.button-theme {
    height: 50px;
    background-color: #27B6F2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .button-theme-text {
        font-family: 'GothamNarrow-Book';
        font-size: 18px;
        color: white;
        margin: 0px;
    }
}