@font-face {
  font-family: 'GothamNarrow-Book';
  src: local('GothamNarrow-Book'), url('../utils/fonts/GothamNarrow-Book.otf') format('otf');
}

@font-face {
  font-family: 'GothamNarrow-Light';
  src: local('GothamNarrow-Light'), url('../utils/fonts/GothamNarrow-Light.otf') format('otf');
}

@font-face {
  font-family: 'GothamNarrow-Thin';
  src: local('GothamNarrow-Thin'), url('../utils/fonts/GothamNarrow-Thin.otf') format('otf');
}

@font-face {
  font-family: 'Handvetica';
  src: local('Handvetica'), url('../utils/fonts/HandveticaTrial.ttf') format('ttf');
}

@font-face {
  font-family: 'SFUIText-Medium';
  src: local('SFUIText-Medium'), url('../utils/fonts/SFUIText-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'SFUIText-Regular';
  src: local('SFUIText-Regular'), url('../utils/fonts/SFUIText-Regular.ttf') format('ttf');
}


/* COMPONENTS */
/* header */
@import url("./header.scss");
@import url("./textSection.scss");

/* INTERNAL COMPONENTS */
@import url("./home.scss");

