.text-section-h1 {
    font-family: 'GothamNarrow-Book';
    font-size: 40px;
    color: white;
    font-weight: 200;
}

.text-section-h2 {
    font-family: 'GothamNarrow-Book';
    font-size: 24px;
    color: white;
}

.text-body {
    font-family: 'GothamNarrow-Book';
    font-size: 18px;
    color: white;
}