.text-section-h1 {
    font-family: 'GothamNarrow-Book';
    font-size: 40px;
    color: white;
    margin: 0px;
}

.text-section-h2 {
    font-family: 'GothamNarrow-Book';
    font-size: 24px;
    color: white;
    margin: 0px;
}

.text-body {
    font-family: 'GothamNarrow-Book';
    font-size: 18px;
    color: white;
    margin: 0px;
}