.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #0275A7;
  border-color: #0275A7 transparent #0275A7 transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .loader .opac {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .loader .gradient {
    background-image: linear-gradient(to bottom right, #0478AA, #009EE2);
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .loader .gradient p {
      font-family: 'GothamNarrow-Book';
      font-size: 20px;
      color: #fffff1;
      text-align: center; }
.user-deatils {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .user-deatils .user-deatils-content {
    min-height: 100vh;
    height: auto;
    padding-top: 6%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .user-deatils .user-deatils-content .meee-image {
      margin: 5px; }
    .user-deatils .user-deatils-content form {
      width: 345px; }
      .user-deatils .user-deatils-content form .input-view {
        margin: 25px 5px;
        width: auto;
        border-radius: 8px;
        padding: 5px; }
        .user-deatils .user-deatils-content form .input-view .input-view-in {
          padding: 5px 0px; }
          .user-deatils .user-deatils-content form .input-view .input-view-in .question {
            font-family: 'GothamNarrow-Book';
            font-size: 20px;
            color: #1D1D1D;
            margin: 15px 15px; }
          .user-deatils .user-deatils-content form .input-view .input-view-in .dropdown-theme .css-10nd86i {
            margin: 0px 10px;
            font-family: 'GothamNarrow-Book';
            font-size: 18px;
            color: #393939;
            border-bottom: 1px splid #000; }
            .user-deatils .user-deatils-content form .input-view .input-view-in .dropdown-theme .css-10nd86i .css-bl6clz:focus {
              outline: none;
              background-color: 'red'; }
            .user-deatils .user-deatils-content form .input-view .input-view-in .dropdown-theme .css-10nd86i .css-1aya2g8 {
              cursor: pointer;
              background-color: white;
              border-radius: 20px;
              padding: 0px 5px !important;
              border-color: #D0D0D0 !important; }
              .user-deatils .user-deatils-content form .input-view .input-view-in .dropdown-theme .css-10nd86i .css-1aya2g8 .css-d8oujb {
                display: none; }
            .user-deatils .user-deatils-content form .input-view .input-view-in .dropdown-theme .css-10nd86i .css-1aya2g8:focus {
              outline: none; }
            .user-deatils .user-deatils-content form .input-view .input-view-in .dropdown-theme .css-10nd86i .css-2o5izw {
              outline: none;
              border-radius: 20px;
              padding: 0px 5px !important;
              box-shadow: none !important; }
            .user-deatils .user-deatils-content form .input-view .input-view-in .dropdown-theme .css-10nd86i .css-2o5izw:hover {
              outline: none;
              box-shadow: none !important; }
          .user-deatils .user-deatils-content form .input-view .input-view-in .dropdown-theme div {
            background: white !important;
            color: #393939;
            border-radius: 20px; }
          .user-deatils .user-deatils-content form .input-view .input-view-in .dropdown-theme .css-10nd86i:focus {
            outline: none; }
    .user-deatils .user-deatils-content .next-button {
      margin: 5px;
      width: 166px;
      height: 82px;
      border-radius: 41px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 0px 20px;
      padding-bottom: 6px;
      border: none;
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.16);
      background-color: #009EE2; }
      .user-deatils .user-deatils-content .next-button .btn-up-body {
        display: flex;
        align-items: center; }
        .user-deatils .user-deatils-content .next-button .btn-up-body p {
          margin: 0px 6px;
          font-family: 'GothamNarrow-Book';
          font-size: 20px;
          color: white;
          margin: 5px; }
      .user-deatils .user-deatils-content .next-button .btm-text {
        margin: 0px 6px;
        font-family: 'GothamNarrow-Book';
        font-size: 14px;
        color: white;
        text-decoration: underline;
        margin: 0px; }
    .user-deatils .user-deatils-content .table-responsive {
      border: 2px solid #979797;
      border-radius: 20px;
      padding: 10px;
      width: 600px;
      margin-bottom: 25px; }
    @media screen and (max-width: 767px) {
      .user-deatils .user-deatils-content .table-responsive {
        width: auto; } }

@media screen and (max-width: 767px) {
  .user-deatils .user-deatils-content {
    width: auto;
    justify-content: unset;
    padding: 15px; }
    .user-deatils .user-deatils-content form {
      width: 305px; } }

/*# sourceMappingURL=style.css.map*/