.button-transparent {
    margin: 20px 0px 0px 0px;
    .button-transparent-text {
        font-family: 'GothamNarrow-Book';
        font-size: 18px;
        color: white;
        margin: 0px;
        text-decoration: underline;
    }
}