@font-face {
  font-family: 'GothamNarrow-Book';
  src: url('./../utils/fonts/GothamNarrow-Book.otf') format('opentype');
}

@font-face {
  font-family: 'GothamNarrow-Light';
  src : url('./../utils/fonts/GothamNarrow-Light.otf') format('opentype');
}

@font-face {
  font-family: 'GothamNarrow-Thin';
  src : url('./../utils/fonts/GothamNarrow-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Handvetica';
  src: url('./../utils/fonts/HandveticaTrial.ttf') format('truetype');
}

@font-face {
  font-family: 'SFUIText-Medium';
  src: url('./../utils/fonts/SFUIText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SFUIText-Regular';
  src: url('./../utils/fonts/SFUIText-Regular.ttf') format('truetype');
}
