.app {
  padding-top: 115px;
  .navbar {
    margin-bottom: 0px;
    border: none;
    background-color: white;
  }
  .navbar-default {
    height: 115px;
    background-color: white;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    .navbar-header {
      margin-top: 8px;
      a {
        img {
          height: 70px;
        }
      }
      .navbar-toggle {
        position: absolute;
        top: 14px;
        right: 0;
        border: none;
      }
    }
    @media screen and (max-width: 767px) {
      .navbar-header {
        margin-top: 0px;
      }
    }
    .navbar-nav {
      margin: 10px;
    }
    .navbar-nav>li {
        width: 160px;
        margin-right: -10px;
      }

    // .navbar-nav>li {
    //   width: 155px;
    //   margin-right: -10px;
    // }
    // @media screen and (max-width: 1366px) {
    //   .navbar-nav>li {
    //     width: 140px;
    //   }
    // }
    // @media screen and (max-width: 1280px) {
    //   .navbar-nav>li {
    //     width: 130px;
    //   }
    // }
    // @media screen and (max-width: 1024px) {
    //   .navbar-nav>li {
    //     width: 100px;
    //   }
    // }
    @media screen and (max-width: 767px) {
      .navbar-nav>li {
        width: auto;
      }
    }
    .navbar-item {
      display: flex;
      justify-content: center;
      height: 55px;
      margin-top: 12px;
      .navbar-item-image {
        position: absolute;
        z-index: -1;
        height: inherit;
      }
      span {
        margin-top: 12px;
        text-decoration: none;
        color: black;
        font-family: 'Handvetica';
        font-size: 18px;
      }
      span:hover {
        color: black;
      } // .navbar-link {
      //     margin-top: 15px;
      //     a {
      //         text-decoration: none;
      //         color: black;
      //         font-family: 'Handvetica';
      //         font-size: 18px;
      //     }
      //     a:hover {
      //         color: black;
      //     }
      // }
    }
    @media screen and (max-width: 1024px) {
      .navbar-item {
        height: 55px;
        align-items: center;
        span {
          margin-top: -8px;
          display: flex;
          text-align: center;
        } // .navbar-link {
        //     margin-top: -8px;
        //     display: flex;
        //     text-align: center;
        // }
      }
    }
    @media screen and (max-width: 767px) {
      .navbar-item {
        margin-top: 0px;
      }
    }
    @media screen and (max-width: 767px) {
      .navbar-collapse {
        background-color: white; 
        margin-top: 40px;
      }
    }
  }
  .navbar-fixed-top {
    border: none;
  }
}

@media screen and (max-width: 767px) {
  .app {
    padding-top: 90px;
    .navbar-default {
      height: 90px;
    }
  }
}