.thank-you-section {
    background-color: #E5007D;
    padding: 80px 20%;
}

@media screen and (max-width: 992px) {
    .thank-you-section {
      padding: 80px 10%;
    }
}

@media screen and (max-width: 767px) {
    .thank-you-section {
      padding: 80px 5%;
    }
}