.user-deatils {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  .user-deatils-content {
    min-height: 100vh;
    height: auto;
    padding-top: 6%;
    // width: 470px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .meee-image {
      margin: 5px;
    }
    form {
      width: 345px;
      .input-view {
        margin: 25px 5px;
        width: auto;
        border-radius: 8px;
        padding: 5px;
        .input-view-in {
          padding: 5px 0px;
          .question {
            font-family: 'GothamNarrow-Book';
            font-size: 20px;
            color: #1D1D1D;
            margin: 15px 15px;
          }
          .dropdown-theme {
            .css-10nd86i {
              margin: 0px 10px;
              font-family: 'GothamNarrow-Book';
              font-size: 18px;
              color: #393939;
              border-bottom: 1px splid #000;
              .css-bl6clz:focus {
                outline: none;
                background-color: 'red'
              }
              .css-1aya2g8 {
                cursor: pointer;
                background-color: white;
                border-radius: 20px;
                padding: 0px 5px !important;
                border-color: #D0D0D0 !important;
                .css-d8oujb {
                  display: none;
                }
              }
              .css-1aya2g8:focus {
                outline: none;
              }
              .css-2o5izw {
                outline: none;
                border-radius: 20px;
                padding: 0px 5px !important;
                box-shadow: none !important;
              }
              .css-2o5izw:hover {
                outline: none;
                box-shadow: none !important;
              }
            }
            div {
              background: white !important;
              color: #393939;
              border-radius: 20px;
            }
            .css-10nd86i:focus {
              outline: none;
            }
          }
        }
      }
    }
    .next-button {
      margin: 5px;
      width: 166px;
      height: 82px;
      border-radius: 41px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 0px 20px;
      padding-bottom: 6px;
      border: none;
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.16);
      background-color: #009EE2;
      .btn-up-body {
        display: flex;
        align-items: center;
        p {
          margin: 0px 6px;
          font-family: 'GothamNarrow-Book';
          font-size: 20px;
          color: white;
          margin: 5px;
        }
      }
      .btm-text {
        margin: 0px 6px;
        font-family: 'GothamNarrow-Book';
        font-size: 14px;
        color: white;
        text-decoration: underline;
        margin: 0px;
      }
    }
    .table-responsive {
      border: 2px solid #979797;
      border-radius: 20px;
      padding: 10px;
      width: 600px;
      margin-bottom: 25px;
    }
    @media screen and (max-width: 767px) {
      .table-responsive {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .user-deatils {
    .user-deatils-content {
      width: auto;
      justify-content: unset;
      padding: 15px;
      form {
        width: 305px;
      }
    }
  }
}
